table{
    text-align: center;
    width: 2000px;
    height: 850px;
    font-size: 50px;
}
body{
    text-align: center;
    background: -webkit-linear-gradient(45deg, rgb(20, 101, 10), rgb(12, 210, 18), rgb(180, 255, 158));
background: -moz-linear-gradient(45deg, rgb(20, 101, 10), rgb(12, 210, 18), rgb(180, 255, 158));
background: linear-gradient(45deg, rgb(20, 101, 10), rgb(12, 210, 18), rgb(180, 255, 158));
color: white;
}
a{
    text-decoration: none;
    color: white;
}
h1{
    font-size: 50px;
}