link{
    font-family: 'Qahiri', sans-serif;
} 
table{
    width: 300px;
    border: solid greenyellow;
    margin: auto;
    border-width: 0,01px;
}
td{
    text-align: center;
}
tr{
    font-family: 'Qahiri', sans-serif;
}
tbody th:hover{
    background: -webkit-linear-gradient(45deg, rgb(102, 255, 0), rgb(0, 242, 255));
    background: -moz-linear-gradient(45deg, rgb(102, 255, 0), rgb(0, 242, 255));
    background: linear-gradient(45deg, rgb(102, 255, 0), rgb(0, 242, 255));
    color: tomato;
}
td:hover{
    background: -webkit-linear-gradient(45deg, rgb(255, 0, 0), rgb(0, 242, 255), rgb(232, 239, 0));
background: -moz-linear-gradient(45deg, rgb(255, 0, 0), rgb(0, 242, 255), rgb(232, 239, 0));
background: linear-gradient(45deg, rgb(255, 0, 0), rgb(0, 242, 255), rgb(232, 239, 0)); 
color: white;
}
th{
    font-size: 35px;
}
table{
    border-color: green;
}
body{
    background-color: cyan;
}